<div class="page-header">
	<h1 class="text-primary pull-left">Edit profile</h1>
	<a class="pull-right btn btn-primary" href="#/profile">Back</a>
	<div class="clearfix"></div>
</div>

<form class="userForm">

	<div class="form-group">
		<label for="firstname">Firstname</label>
		<input type="text" class="form-control" id="firstname" placeholder="Fistname" name="firstname" value="{{firstname}}" required >
		<span class="help-block"><p class="text-danger" id="firstnameValidator"></p></span>
	</div>

	<div class="form-group">
		<label for="lastname">Lastname</label>
		<input type="text" class="form-control" id="lastname" placeholder="Lastname" name="lastname" value="{{lastname}}" required>
		<span class="help-block"><p class="text-danger" id="lastnameValidator"></p></span>
	</div>

	<div class="form-group" >
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" placeholder="email" name="email" value="{{email}}" required>
		<span class="help-block"><p class="text-danger" id="emailValidator"></p></span>
	</div>

	<div class="form-group">
		<label for="city">City</label>
		<input type="text" class="form-control" id="city" placeholder="city" name="city" value="{{city}}">
		<span class="help-block hide"><p class="text-danger" id="emailValidator"></p></span>
	</div>

	<div class="form-group">
		<label for="birthday">Birthday</label>
		<input type="text" class="form-control" id="birthday" placeholder="birthday" name="birthday" value="{{birthday}}">
	</div>

	<input id="submitButton" type="submit" class="btn btn-success" value="Valider">

</form>